body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.nav-container {
  padding: 1rem;
}

.nav-links {
  display: none;
  flex-direction: column;
  list-style: none;
  align-items: start;
  gap: 15px;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: start;
  gap: 15px;
}

.nav-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.link {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}

.mobile-nav {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: brown;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-nav-active {
  transform: translateX(0);
}

.footer-container {
  padding: 1rem;
  border-top: 1px solid black;
}

.footer-content-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  text-decoration: none;
  color: black;
}

.f-ic-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* resposive design */
/* md screen */
@media screen and (min-width: 48rem) {
  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-toggle {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

/* lg screen */
@media screen and (min-width: 64rem) {
  .nav-links {
    display: flex;
  }
}

/* xl */
@media screen and (min-width: 80rem) {
  .nav-links {
    display: flex;
  }
}

/* 2xl */
@media screen and (min-width: 96rem) {
  .nav-links {
    display: flex;
  }
}